.transparent-bg {
  background-color: rgba(76, 38, 255, 0.8);  /* Průhledné bílé pozadí, můžete přizpůsobit podle potřeby */
    /* Odstranění ohraničení karty, pokud je nějaké */
    color: #dd1cfc;
    text-shadow: #ff00ea 1px 0 10px;
}

input {
  background-color: rgba(76, 38, 25,0.1);
    color: #d95ffd;
    font-size: 1.2em;
    font-weight: bold;
}

label {
   color: #f7e2fc;
    text-shadow: #ecaef6 1px 0 5px;
}

.custom{
    background-color: #bf00ff;
}