.transparent-bg {
  background-color: rgba(76, 38, 255, 0.5);  /* Průhledné bílé pozadí, můžete přizpůsobit podle potřeby */
    /* Odstranění ohraničení karty, pokud je nějaké */
    color: #ffffff;
}

.h2{
    text-shadow: #ff00ea 2px 0 15px, #ff5ff1 2px 0 10px;
}

input {
    color: #d95ffd;
    font-size: 1.2em;
    font-weight: bold;
}

label {
    font-size: 1.2em;
    color: #f7e2fc;
    text-shadow: #aec5f6 1px 0 5px;
}

.custom{
    background-color: #bf00ff;
}