
.h1{
    padding-top: 100px;
    text-align: center;
    color: #ffffff;
}
.center{
     margin: auto;
  width: 60%;
  padding: 10px;
    border-radius: 2em;
}
.upload{
    margin: auto;
  width: 100%;
  border: 3px solid #000000;
  padding: 10px;
}
.form-group{
    color:white;
}

.zamlzeni{
    backdrop-filter: blur(55px);
    border-radius: 30px;
}