{% load static %}
   {% if user.is_authenticated %}

           <a href='/modelViewer/profile'>{{ user.username }}</a>
          <ul class='sub-menus'>
              <li><a href='/modelViewer/edit_profile' class="no-hover">Profil</a></li>
              <li><a href='/modelViewer/profile' class="no-hover">Modely</a></li>
              <li><a href="/modelViewer/signout" class="btn-danger no-hover">Odhlásit se</a></li>
          </ul>

        <li style="float:right !important;">
           <a class="navbar-brand no-hover">
                <img class="logo" src="{% static 'img/favicon.png' %}" alt="Favicon">
           </a>
        </li>
    {% else %}
      <a href="/modelViewer/signin"><span class="glyphicon glyphicon-log-in"></span>Login</a>
    {% endif %}
