 <footer class="site-footer">
      <div class="row move">
          <div class="col-sm-10 col-md-4">
            <h6>O stránce</h6>
            <p class="text-justify">3D Model Viewer představuje revoluční interaktivní webovou aplikaci,
                která otevírá brány do virtuálního světa fascinujících a kreativních 3D modelů. Tato inovativní platforma je navržena tak,
                aby poskytovala uživatelům jedinečný zážitek z procházení,
                hodnocení a sdílení úchvatných třírozměrných objektů v reálném čase.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a >Django</a></li>
              <li><a >Mysql</a></li>
              <li><a >JavaScript</a></li>
              <li><a >Pythom</a></li>
              <li><a >HTML</a></li>
              <li><a>CSS</a></li>
                <li><a>Bootstrap</a></li>
                <li><a>Aframe</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>About me</h6>
            <ul class="footer-links">
              <li><a href="https://github.com/OndraVicha">GitHub</a></li>
              <li><a>it2030@sspu-opava.cz</a></li>
            </ul>
          </div>
        </div>
</footer>