{% load static %}
<div id="menu-wrapper">
    <div class="fade-in-from-top" id="menu-container">
        <nav id='menu'>
          <ul>
              <li>
               <a class="navbar-brand no-hover">
                    <img class="logo" src="{% static 'img/logo-background.png' %}" alt="Logo">
               </a>
              </li>
            <li style="width: 12%;"><a href='/'>Úvodní stránka</a></li>
            <li style="width: 8%;"><a class='dropdown-arrow' href=''>Modely</a>
              <ul class='sub-menus'>
                <li><a href=''>Téma 1</a></li>
                <li><a href=''>Téma 2</a></li>
                <li><a href=''>Téma 3</a></li>
                <li><a href=''>Téma 4</a></li>
              </ul>
            </li>
            <li style="width: 8%;"><a href=''>Uživatelé</a></li>
            <li style="width: 6%;"><a class='dropdown-arrow' href=''>Něco</a>
              <ul class='sub-menus'>
                <li><a href=''>Něco 1</a></li>
                <li><a href=''>Něco 2</a></li>
                <li><a href=''>Něco 3</a></li>
              </ul>
            </li>
            <li style="width: 6%;"><a href=''>O nás</a></li>
            <li style="float:right; width: 8%;" id="register-link">
                <a href='/profile' target="_blank">{% include 'frontpage/extendnavbar.html' %}</a>
            </li>
          </ul>
        </nav>
    </div>
</div>