<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href=''>Domů</a></li>
    <li><a class='dropdown-arrow' href=''>Modely</a>
      <ul class='sub-menus'>
        <li><a href=''>Téma 1</a></li>
        <li><a href=''>Téma 2</a></li>
        <li><a href=''>Téma 3</a></li>
        <li><a href=''>Téma 4</a></li>
      </ul>
    </li>
    <li><a href=''>Uživatelé</a></li>
    <li><a class='dropdown-arrow' href=''>Něco</a>
      <ul class='sub-menus'>
        <li><a href=''>Něco 1</a></li>
        <li><a href=''>Něco 2</a></li>
        <li><a href=''>Něco 3</a></li>
      </ul>
    </li>
    <li><a href=''>O nás</a></li>
  </ul>
</nav>