{% extends 'home.html' %}
{% block nazev %}Profil{% endblock %}
{% block h1 %}<h1 class="h1"></h1>{% endblock %}


{% block content %}
<div class="container stredchp">
    <section class="section">
        <form method="post">
            <h1> Změna Hesla </h1>
            {% csrf_token %}
            <div class="inputbox2 ">
                <div class="inputbox form-group">
                <input type="password" name="old_password" autocomplete="current-password"
                       autofocus="" required="" id="id_old_password">
                <label for="{{ form.old_password.id_for_label }}">Staré Heslo: </label>
                {% if form.old_password.errors %}
                  <small class="text-danger">{{ form.old_password.errors.0 }}</small>
                {% endif %}
                </div>
                <div class="inputbox form-group">
                    <input type="password" name="new_password1" autocomplete="new-password"
                           required="" id="id_new_password1">
                    <label for="{{ form.new_password1.id_for_label }}">Nové Heslo: </label>
                    {% if form.new_password1.errors %}
                      <small class="text-danger">{{ form.new_password1.errors.0 }}</small>
                    {% endif %}
                </div>
                <div class="inputbox form-group">
                    <input type="password" name="new_password2" autocomplete="new-password"
                           required="" id="id_new_password2">
                    <label for="{{ form.new_password2.id_for_label }}">Potvrzení nového Hesla </label>
                    {% if form.new_password2.errors %}
                      <small class="text-danger">{{ form.new_password2.errors.0 }}</small>
                    {% endif %}
                </div>
                <div class="inputbox form-group">
                    <span class="helptext">
                        <ul>
                            <li>Heslo se nesmí příliš podobat vašim ostatním osobním údajům.</li>
                            <li>Heslo musí obsahovat alespoň 8 znaků.</li>
                            <li>Vaše heslo nesmí být běžně používané heslo.</li>
                            <li>Heslo nesmí být celé číselné.</li>
                        </ul>
                    </span>
                </div>
                <button type="submit" class="tlacitko btn-success">Uložit změny</button>
                <div class="register">
                    <p>Změnil jste názor? <a href="{% url 'edit_profile' %}">VRÁTIT SE</a></p>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}

