{% extends 'home.html' %}
{% block nazev %}Profil{% endblock %}
{% block h1 %}<h1 class="h1"></h1>{% endblock %}

{% block add %}
<div style="margin-bottom: 20vh" class="container stredchp">
    <section class="section">
        <form method="post" enctype="multipart/form-data">
            <h1> Úprava profilu uživatele <strong>{{ user.username }}</strong> </h1>
            {% csrf_token %}
            <div class="inputbox2">
                <div class="inputbox form-group">
                    <input type="text" name="first_name" maxlength="50" required="" id="id_first_name" class="input-width">
                    <label for="{{ form.first_name.id_for_label }}">Jméno: <strong>{{ form.first_name.value|default:'' }}</strong></label>
                </div>

                <div class="inputbox form-group">
                    <input type="text" name="last_name" maxlength="150" required="" id="id_last_name">
                    <label for="{{ form.last_name.id_for_label }}">Příjmení:<strong>{{ form.last_name.value|default:'' }}</strong> </label>
                </div>
                <div class="inputbox form-group">
                    <input type="text" name="email"  maxlength="150" required="" id="id_email">
                    <label for="{{ form.email.id_for_label }}">Email:<strong>{{ form.email.value|default:'' }}</strong></label>
                </div>
                <div class="inputbox form-group">
                    <input type="text" name="pronouns" maxlength="150" required="" id="id_pronouns">
                    <label for="{{ form.pronouns.id_for_label }}">Oslovení: <strong>{{ form.pronouns.value|default:'' }}</strong></label>
                </div>
                <div class="inputbox form-group pt-3">
                    <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture">
                    <label for="{{ form.profile_picture.id_for_label }}">Profilový obrázek:</label>
                </div>

                <div class="form-group mt-2" style="display: flex; flex-direction: column;">
                    <label for="{{ form.bio.id_for_label }}">Biografie:</label>
                    <textarea name="bio" cols="40" rows="5" maxlength="150" class="bio" id="id_bio"></textarea>
                </div>
                <div class="inputbox form-group right">
                    <div class="" disabled="" id="id_password">
                        <strong>
                            <p class="text-white">
                                Pro změnu hesla
                                <a href="{% url 'change_password' %}">Klikněte zde</a>.
                            </p>
                        </strong>
                    </div>
                </div>
                <button type="submit" class="tlacitko btn-success">Uložit změny</button>
                <div class="register">
                    <p><a id="clearProfileLink" href="{% url 'clear_profile_fields' %}">ODSTRANIT VŠE</a></p>
                </div>
            </div>
        </form>
    </section>
</div>
<script>
    document.getElementById('clearProfileLink').onclick = function() {
        return confirm('Are you sure you want to remove all profile fields?');
    };
</script>
{% endblock %}