{% extends 'home.html' %}
{% block nazev %}Profil{% endblock %}
{% block h1 %}<h1 class="h1">Profil uživate {{ user.username }}</h1>{% endblock %}
{% block user %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class=" transparent-bg">
          <div class="card-header">
            <h2 class="text-center h2">Úprava profilu</h2>
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">Jméno:</label>
                <input type="text" name="first_name" maxlength="150" class="form-control" id="id_first_name">
              </div>
              <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Příjmení:</label>
                <input type="text" name="last_name" maxlength="150" class="form-control" id="id_last_name">
              </div>
              <div class="form-group">
                <label for="{{ form.bio.id_for_label }}">Biografie:</label>
                <textarea name="bio" cols="40" rows="10" class="form-control" maxlength="500" id="id_bio"></textarea>
              </div>
              <div class="form-group">
                <label for="{{ form.pronouns.id_for_label }}">Pronouns:</label>
                <input type="text" name="pronouns" class="form-control" maxlength="10" id="id_pronouns">
              </div>
            <button type="submit" class="btn btn-primary mt-3">Uložit změny</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="transparent-bg">
              <div class="card-header">
                <h2 class="text-center h2">Přihlašování</h2>
              </div>
              <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-group ">
                        <label for="{{ form.username.id_for_label }}">Uživatelské jméno:</label>
                        <input type="text" name="username" value="Admin" maxlength="150" class="form-control" required="" id="id_username">
                    </div>
                  <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Heslo:</label>
                    <div class="form-control" disabled="" id="id_password">
                        <strong>
                            <p class="text-muted">
                                Pro změnu hesla
                                <a href="{% url 'change_password' %}">Klikněte zde</a>.
                            </p>
                        </strong>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">E-mail:</label>
                    <input type="email" name="email" maxlength="254" class="form-control" id="id_email">
                  </div>
                  <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary mt-3">Uložit změny</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
