{% extends 'home.html' %}
{% block nazev %}Přihlášení{% endblock %}


{% block user %}
<div style="height:80vh" class="container stred">
    <section class="section2">
        <form method="post">
            <h1> Přihlášení </h1>
            {% csrf_token %}
            <div class="inputbox form-group">
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                       maxlength="150" required="" id="id_username">
                <label for="{{ form.username.id_for_label }}">Uživatelské Jméno: </label>
            </div>
            <div class="inputbox form-group">
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                <label for="{{ form.password.id_for_label }}">Heslo: </label>
            </div>
            <button type="submit" class="tlacitko btn-primary">Přihlásit se</button>
            <div class="register">
                <p>Nemáte účet? <a href="/modelViewer/signup">Zaregistrovat se</a></p>
            </div>
        </form>
    </section>
</div>
{% endblock %}
