{% extends 'home.html' %}
{% block nazev %}Login{% endblock %}


{% block user %}
<div class="container stred">
    <section>
        <form method="post">
            <h1> Login </h1>
            {% csrf_token %}
            <div class="inputbox form-group">
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                       maxlength="150" required="" id="id_username">
                <label for="{{ form.username.id_for_label }}">Username: </label>
            </div>
            <div class="inputbox form-group">
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                <label for="{{ form.password.id_for_label }}">Password: </label>
            </div>
            <button type="submit" class="tlacitko btn-primary">Log in</button>
            <div class="register">
                <p>Don't have an account? <a href="/modelViewer/signup"> Sign up</a></p>
            </div>
        </form>
    </section>
</div>
{% endblock %}
