{% extends 'home.html' %}
{% include 'user/user.html' %}

{% block nazev %}Profil{% endblock %}

{% block h1 %}<h1 class="h1">Welcome {{ user.username }}!</h1>{% endblock %}

{% block add %}
    <div class="container mb-2">
        <div class="float-left">
            <a href="/modelViewer/upload_3d_model" class="btn btn-success">Upload Model</a>
        </div>
        <div class="float-right">
            <a href="/modelViewer/signout" class="btn btn-danger">Logout</a>
        </div>
        <div style="clear: both;"></div> <!-- Toto zajistí, aby další obsah byl pod tlačítky -->
    </div>
 {% endblock %}

{% block filter %}
    <form method="get" action="{% url 'profile' %}">
        <div class="row justify-content-center">
            <div class="text-white d-flex flex-wrap justify-content-center">
                <div class="box" onmouseover="changeBackgroundColor(this)" onmouseout="restoreBackgroundColor(this)">
                    <label for="model_name">Search by Model Name:
                        <input type="text" name="model_name">
                    </label>
                </div>
                <div class="box" onmouseover="changeBackgroundColor(this)" onmouseout="restoreBackgroundColor(this)">
                    <label for="upload_date">Filter by Upload Date:
                        <input type="date" name="upload_date">
                    </label>
                </div>
                <div class="box" onmouseover="changeBackgroundColor(this)" onmouseout="restoreBackgroundColor(this)">
                    <label for="category">Filter by Category:
                        <select name="category">
                            <option value="" selected>All Categories</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="box" onmouseover="changeBackgroundColor(this)" onmouseout="restoreBackgroundColor(this)">
                    <label for="sort_by">Sort by:
                        <select name="sort_by">
                            <option value="" selected>None</option>
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                        </select>
                    </label>
                </div>
                <button type="submit" class="btn btn-info delete-btn mt-2 w-100">
                    <a class="text-white text-decoration-none">Apply Filters</a>
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block user %}
    {% if user.is_authenticated %}
        <div class="container">
            <h2 class="text-white">Uploaded models:</h2>
            {% if user_uploaded_models %}
                <div class=" text-white">
                     <div class="row">
                        {% for model in user_uploaded_models %}
                        <div class="col-md-4 mb-4 page-details">
                            <div class="w3-card-3 border border-danger bg-secondary box" style="height: 100%;">
                                <div class="image-container">
                                    <img src="{{ model.image.url }}" alt="{{ model.title }}" class="img-fluid">
                                </div>
                                <button class="btn btn-info delete-btn mt-2 w-100">
                                    <a class="text-white text-decoration-none" target="_blank" href="{% url 'model' model.id %}">View Model</a>
                                </button>
                                <h2 class="text-center">{{ model.title }}</h2>
                                <h5 class="card-title">Avg rating:
                                    <span class="fa fa-star {% if post.average_rating > 0 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if post.average_rating > 1 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if post.average_rating > 2 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if post.average_rating > 3 %} checked {% endif %}" ></span>
                                    <span class="fa fa-star {% if post.average_rating > 4 %} checked {% endif %}"></span>
                                </h5>
                                <div class="w3-container w3-center ml-2 model-details border border-success bg-secondary box">
                                    <strong>{{ model.title }}</strong><br>
                                    Upload Date: {{ model.upload_date }}<br>
                                    Categories:
                                    {% for category in model.categories.all %}
                                    {{ category.name }}
                                    {% endfor %}
                                    <br>
                                    <div class="mt-2">
                                        <button class="btn btn-danger delete-btn float-left">
                                            <a class="text-white text-decoration-none" href="{% url 'delete_model' model.id %}">Delete Model</a>
                                        </button>
                                        <button class="btn btn-primary delete-btn float-right">
                                            <a class="text-white text-decoration-none" href="{% url 'edit_3d_model' model.id %}">Edit Model</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
             <hr>
            <p class="text-white">No models uploaded yet.</p>
            {% endif %}
    <br>
    {% else %}
        <a href="/modelViewer/signin" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Login</a>
        <a href="/modelViewer/signup" class="btn btn-success">Signup</a>
    {% endif %}
{% endblock %}

 <div class="row">
    {% for model in models %}
    <div class="col-md-4 mb-4 page-details">
        <div class="w3-card-3 border border-danger bg-secondary box" style="height: 100%;">
            <div class="image-container">
                <img src="{{ model.image.url }}" alt="{{ model.title }}" class="img-fluid">
            </div>
            <button class="btn btn-info delete-btn mt-2 w-100">
                <a class="text-white text-decoration-none" target="_blank" href="{% url 'model' model.id %}">View Model</a>
            </button>
            <h2 class="text-center">{{ model.title }}</h2>
            <div class="w3-container w3-center ml-2 model-details border border-success bg-secondary box">
                <strong>{{ model.title }}</strong><br>
                Upload Date: {{ model.upload_date }}<br>
                Categories:
                {% for category in model.categories.all %}
                {{ category.name }}
                {% endfor %}
                <br>
                <div class="mt-2">
                    <button class="btn btn-success delete-btn float-left">
                        <a class="text-white text-decoration-none" href="{% url 'delete_model' model.id %}">Delete Model</a>
                    </button>
                    <button class="btn btn-primary delete-btn float-right">
                        <a class="text-white text-decoration-none" href="{% url 'edit_3d_model' model.id %}">Edit Model</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
