{% extends 'home.html' %}

{% block nazev %}Profil{% endblock %}

{% block h1 %}<h1 class="h1">Vítej {{ user.username }}!</h1>{% endblock %}

{% block add %}
    <div class="container mb-2 mt-2">
        <div class="float-left">
            <a href="/modelViewer/upload_3d_model" class="btn btn-success">Nahrát Model</a>
        </div>
        <div class="float-right">
            <a href="/modelViewer/signout" class="btn btn-danger">Odhlásit se</a>
        </div>
        <div style="clear: both;"></div> <!-- Toto zajistí, aby další obsah byl pod tlačítky -->
    </div>
 {% endblock %}

{% block filter %}
    <form method="get" action="{% url 'profile' %}">
        <div class="row justify-content-center">
            <div class="text_white d-flex flex-wrap justify-content-center">
                <div class="box" onmouseover="changeBackgroundColor(this)" onmouseout="restoreBackgroundColor(this)">
                    <label for="model_name">Vyhledat podle názvu Modelu:
                        <input type="text" name="model_name">
                    </label>
                </div>
                <div class="box" onmouseover="changeBackgroundColor(this)" onmouseout="restoreBackgroundColor(this)">
                    <label for="upload_date">Filtrovat podle data nahrání modelu:
                        <input type="date" name="upload_date">
                    </label>
                </div>
                <div class="box" onmouseover="changeBackgroundColor(this)" onmouseout="restoreBackgroundColor(this)">
                    <label for="category">Filtrovat podle kategorie:
                        <select name="category">
                            <option value="" selected>Všechny kategorie</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="box" onmouseover="changeBackgroundColor(this)" onmouseout="restoreBackgroundColor(this)">
                    <label for="sort_by">Sort by:
                        <select name="sort_by">
                            <option value="" selected>None</option>
                            <option value="newest">Nejnovější</option>
                            <option value="oldest">Nejstrarší</option>
                        </select>
                    </label>
                </div>
                <button type="submit" class="btn btn-info delete-btn mt-2 w-100">
                    <a class="text_white text-decoration-none">Použít filtry</a>
                </button>

            </div>
        </div>
    </form>
{% endblock %}

{% block user %}
    <style>
        .rating-list li {
          float: right;
          color: #ddd;
          padding: 10px 5px;
        }

        .rating-list li:hover,
        .rating-list li:hover ~ li {
          color: orange;
        }

        .rating-list {
          display: inline-block;
          list-style: none;
        }
        .checked {
            color: orange;
        }
    </style>

    {% if user.is_authenticated %}
        <div class="container">
            <h2 class="text_white">Nahrané modely:</h2>
            {% if user_uploaded_models %}
                <div class=" text_white">
                     <div class="row">
                        {% for model in user_uploaded_models %}
                        <div class="col-md-4 mb-4 page-details">
                            <div class="w3-card-3 border border-danger bg-secondary box" style="height: 100%;">
                                <div class="image-container">
                                    <img src="{{ model.image.url }}" alt="{{ model.title }}" class="img-fluid">
                                </div>
                                <button class="btn btn-info delete-btn mt-2 w-100">
                                    <a class="text_white text-decoration-none" target="_blank" href="{% url 'model' model.id %}">Zobrazit Model</a>
                                </button>
                                <h2 class="text-center">{{ model.title }}</h2>
                                <h6 class="card-title">Průměrné Hodnocení:
                                    <span class="fa fa-star {% if model.average_rating > 0 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if model.average_rating > 1 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if model.average_rating > 2 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if model.average_rating > 3 %} checked {% endif %}" ></span>
                                    <span class="fa fa-star {% if model.average_rating > 4 %} checked {% endif %}"></span>
                                    {{ model.average_rating }}
                                </h6>
                                <div class="model-details border border-success bg-secondary box">
                                    <strong>{{ model.title }}</strong><br>
                                    Kategorie:
                                    {% for category in model.categories.all %}
                                    {{ category.name }}
                                    {% endfor %}
                                    <br>
                                    Nahráno: {{ model.upload_date }}<br>
                                    <div class="mt-2">
                                        <button class="btn btn-danger delete-btn float-left">
                                            <a class="text_white text-decoration-none" href="{% url 'delete_model' model.id %}">Odstranit Model</a>
                                        </button>
                                        <button class="btn btn-primary delete-btn float-right">
                                            <a class="text_white text-decoration-none" href="{% url 'edit_3d_model' model.id %}">Upravit Model</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
             <hr>
            <p class="text_white">Zatím nebyly nahrány žádné modely.</p>
            {% endif %}
    <br>
    {% else %}
        <a href="/modelViewer/signin" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Přihlásit se</a>
        <a href="/modelViewer/signup" class="btn btn-success">Odhlásit se</a>
    {% endif %}
{% endblock %}
