{% extends 'home.html' %}
{% block nazev %}Sign up{% endblock %}
{% block h1 %}<h1 class="h1">Sign up</h1>{% endblock %}


{% block user %}
  <div class="center text-white">
     <div class="container">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
          <br>
            <button type="submit" class="btn btn-success">Sign up</button>
            <a href="/modelViewer/signin">Already have an account? Sign in</a>
          </form>
     </div>
  </div>
{% endblock %}