<!DOCTYPE html>
<html lang="cs">
    <head>
        <title>{% block title %}Modely{% endblock %}</title>
        <link rel="icon" href="../static/img/logo-background.png" type="image/png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/body.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'modelCSS/search_model.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/navbar.js' %}"></script>
    </head>
    {% include 'frontpage/navbar.html' %}
    <body class="body">
        <style>

        </style>
        <video autoplay muted loop id="myVideo" class="flip-horizontal">
          <source src="{% static 'img/darkpurple2.mp4' %}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        {% include 'frontpage/header.html' %}
        <main class="color">
             <div class=" blur">
                <h1 class="h1">Nejlépe hodnocené modely</h1>
                <div class="text_white">
                    <div class="row">
                        {% for model in top_models %}
                        <div class="col-md-4 mb-4 page-details">
                            <div class="col-md-4 mb-4 page-details">
                                <div class="w3-card-3 border border-danger bg-secondary box" style="height: 100%;">
                                    <div class="image-container">
                                        <img src="{{ model.image.url }}" alt="{{ model.title }}" class="img-fluid">
                                    </div>
                                    <button class="btn btn-info delete-btn mt-2 w-100">
                                        <a class="text_white text-decoration-none" target="_blank" href="{% url 'model' model.id %}">Zobrazit Model</a>
                                    </button>

                                    <h2 class="h2"><strong>{{ model.title }}</strong> od <a class="text-success" href="{% url 'user_detail' model.user.username %}"><strong>{{ model.user.username }}</strong></a></h2>
                                    <h5 class="card-title">Hodnocení:
                                        {{ model.average_rating }}
                                    </h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
        {% include 'frontpage/footer.html' %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var myVideo = document.getElementById('myVideo');
                myVideo.playbackRate = 0.4; // Změňte hodnotu podle potřeby (0.5 zpomalí na poloviční rychlost)
            });
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
