<!DOCTYPE html>
<html lang="cs">
<head>
<title>{% block nazev %}User{% endblock %}</title>

    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'userCSS/home.css' %}">
    <link rel="stylesheet" href="{% static 'userCSS/profile.css' %}">
    <link rel="stylesheet" href="{% static 'userCSS/aframe.css' %}">
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>

</head>
{% include 'frontpage/navbar.html' %}
<body>

  <div class="container">
    <header class="header">
      {% block h1 %}<h1 class="h1">Django Mysql User Authentication - Login, register and Logout</h1>{% endblock %}
    </header>
    <hr>
    <main>
      {% block add %} {% endblock %}
      {% block user %} {% endblock %}
      {% block content %} {% endblock %}
    </main>
  </div>
</body>
</html>