body {
    color: white;
    z-index: 1;
    background-image: url("../img/background2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Toto udrží pozadí pevné na jednom místě */

    text-align: left;
}