.header {
    color: #c100f8;
    opacity: 1;
    animation: fadeRight 1s forwards;
    text-shadow: 0 3px 20px #ce3cfc, 0 0 3px #bf00ff;
}

.header-content {
    text-align: center; /* Upravte zarovnání podle potřeby */
}

h1.centered-text {
    margin-bottom: 10px; /* Přidejte mezery podle potřeby */
}

h2 {
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 105vh;
    margin-right: 700px;
}

.centered-text {
    font-weight: bold;
    text-shadow: 0px 3px 20px #9c01b6, 0 0 3px #e22fff;
    margin-bottom: 250px;
    margin-left: 20px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in-element {
    opacity: 0;
    animation: fadeIn 1s ease-in 1s forwards;
}

.fade-in-left {
    opacity: 0;
    animation: fadeLeft 1s ease-in 1.5s forwards;
    font-weight: bold;
    margin-bottom: 150px;
    margin-left: 150px;
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
