
.header {
     display: flex;
    justify-content: center;
    align-items: center;
    color: #F05941;
    opacity: 1;
    animation: fadeRight 1s forwards;
    position: absolute;
    z-index: 1;
    text-shadow: 0 3px 20px red, 0 0 3px #ffffff;
    text-align: left;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 105vh;
    padding-left: 200px;
}

.centered-text {
    font-weight: bold;
    text-shadow: 2px 3px 20px red, 0 0 3px #ffffff;
    margin-bottom: 250px;
}

.header::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 100%;
    background: rgb(162, 0, 0);
    box-shadow: 0 0 5px rgb(182, 29, 29), 0 0 15px rgb(243, 2, 2), 0 0 25px rgb(243, 56, 56), 0 0 40px rgb(245, 98, 98);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in-element {
    opacity: 0;
    animation: fadeIn 1s ease-in 1s forwards;
}

.fade-in-left {
    opacity: 0;
    animation: fadeLeft 1s ease-in 1.5s forwards;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: -100px;
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
