{% extends 'home.html' %}

{% block nazev %}Odstranění Modelu{% endblock %}
{% block h1 %}<h1 class="h1">Odstranění Modelu</h1>{% endblock %}

{% block content %}
    <div class="center text_white">
        <div class="container">
            <h2>Potvrzení odstranění</h2>
            <p>Opravdu chcete odstranit model "{{ model.title }}"?</p>
          <form method="post" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Odstranit</button>
            <a href="{% url 'profile' %}" class="btn btn-secondary">Zrušit</a>
          </form>
        </div>
    </div>
{% endblock %}