{% extends 'home.html' %}
{% block h1 %}<h1 class="h1">Nahrání 3D modelu</h1>{% endblock %}
{% block user %}
    <style>
        .block-container {
        display: flex;
        justify-content: space-between;
        }
        .block {
            width: 48%;
        }
    </style>
<div style="margin-bottom: 20vh" class="container">
    <div class="row mx-0 justify-content-center ">
            <div style="width: 70%;border:2px solid #f7e2fc;border-radius: 20px" class="zamlzeni">
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div style="margin: 30px" class="block-container container">
                        <div class="block">
                            <div class="form-group">
                                <label for="{{ form.title.id_for_label }}">Název:</label>
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.description.id_for_label }}">Popis:</label>
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="block">
                            <div class="form-group">
                                <label for="{{ form.file.id_for_label }}">Soubor:</label>
                                {{ form.file }}
                                <small class="form-text text-muted">{{ form.file.help_text }}</small>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.textures.id_for_label }}">Textury:</label>
                                <input type="file" name="textures" id="id_textures">
                                <small class="form-text text-muted">{{ form.textures.help_text }}</small>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.image.id_for_label }}">Fotka:</label>
                                {{ form.image }}
                            </div>
                            <div class="form-group justify-content-center">
                                <label>Categories:</label>
                                <div class="form-field">{{ form.categories }}</div>
                            </div>
                        </div>

                    </div>
                    <button style="margin-bottom: 15px" type="submit" class="btn btn-success upload">Nahrát</button>
                  </form>
            </div>
    </div>
</div>
{% endblock %}
